@charset "utf-8";

a.image {
	text-decoration: none;
}

.container {
	width: calc(100% - 40px);
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

table.basic, th.basic, td.basic {
	border: 1px solid black;
}